<header class="bg-light1 mb-5 main">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <img class="opacity col-lg-6" src="resources/image/1.jpg">
            <div class="col-lg-6">
                <h1 class="display-4 text-white mt-5 mb-2 title-header">Développement site / Application web</h1>
                <p class="lead mb-5 text-white-50">Freelance diplomé d'une licence CISIIE, je développe maintenant à plein temps différents sites et outils web pour des particuliers ou entreprises</p>
            </div>
        </div>
    </div>
</header>