<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark1 fixed">
    <div class="container">
        <img id="logonav" src="resources/image/Logo3.png">
      <a class="navbar-brand" href="#">LM WebDev</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link cw" href="{{base_url}}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cw" href="{{base_url}}prestation_tarif">Prestation / Tarif</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cw" href="{{base_url}}contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>