<!DOCTYPE html>
<html lang="fr">

    {%include('head.twig')%}
    <body>
        {%include('nav.twig')%}
        <div class="container">
            <div class="content row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="list1 row">
                        <h2>Création</h2>
                    </div>
                    <div class="row">
                        <ul class="listanim">
                            <li>
                                Item 1
                            </li>
                            <li>
                                Item 1
                            </li>
                            <li>
                                Item 1
                            </li>
                            <li>
                                Item 1
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="list1 row">
                        <h2>Modification</h2>
                    </div>
                    <div class="row">
                        <ul class="listanim">
                            <li>
                                Item 1
                            </li>
                            <li>
                                Item 1
                            </li>
                            <li>
                                Item 1
                            </li>
                            <li>
                                Item 1
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="list1 row">
                        <h2>Conception</h2>
                    </div>
                    <div class="row">
                        <ul class="listanim">
                            <li>
                                Item 1
                            </li>
                            <li>
                                Item 1
                            </li>
                            <li>
                                Item 1
                            </li>
                            <li>
                                Item 1
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
