<!DOCTYPE html>
<html lang="fr">

    {%include('head.twig')%}
    <body>
        {%include('nav.twig')%}
        <div class="container main overflow-hidden">
            <div class="content">
                <div class="row col-md-12 title-anim-2">
                    <section class="anim">
                        <div></div>
                    </section>

                    <section class="text-anim"><div>T</div></section>
                    <section class="text-anim"><div>A</div></section>
                    <section class="text-anim"><div>R</div></section>
                    <section class="text-anim"><div>I</div></section>
                    <section class="text-anim"><div>F</div></section>

                </div>
                <div class="row margin-bottom-40">
                    <div class="pricing-wrapper clearfix">

                        <div class="pricing-table col-lg-4 col-md-6 col-xs-12 vitrine" data-aos="zoom-in-right" data-aos-anchor-placement="top" data-aos-duration="2000" data-aos-delay="300">
                            <h3 class="pricing-title">Site Vitrine</h3>
                            <div class="price"><sup>Basic</sup></div>
                            <ul class="table-list">
                                <li>CMS : <span>Drupal / Prestashop / Wordpress</span></li>
                                <li>1 - 5 <span>Page comprises</span></li>
                                <li>Intégration visuel<span></span></li>
                                <li>Hébergement web <span class="unlimited">Option</span></li>
                            </ul>
                            <div class="table-buy">
                                <p>899€<sup>Sans option</sup></p>
                            </div>
                        </div>

                        <div class="pricing-table col-lg-4 col-md-6 col-xs-12  vitrine" data-aos="zoom-in" data-aos-anchor-placement="top" data-aos-duration="2000" data-aos-delay="00">
                            <h3 class="pricing-title">Site Vitrine</h3>
                            <div class="price"><sup>Avancé</sup></div>
                            <ul class="table-list">
                                <li>CMS : <span>Drupal / Prestashop / Wordpress</span></li>
                                <li>5 - 10 <span>Page comprises</span></li>
                                <li>Intégration visuel<span></span></li>
                                <li>5 <span>Maquette web</span></li>
                                <li>Site Responsive <span>(Affichage mobile)</span></li>
                                <li>Forfait maintenace (1h/mois)<span class="unlimited">Option</span></li>
                                <li>Hébergement web <span class="unlimited">Option</span></li>
                            </ul>
                            <div class="table-buy">
                                <p>1099€<sup>Sans option</sup></p>
                            </div>
                        </div>

                        <div class="pricing-table col-lg-4 col-md-6 col-xs-12  vitrine" data-aos="zoom-in-left" data-aos-anchor-placement="top" data-aos-duration="2000" data-aos-delay="300">
                            <h3 class="pricing-title">Site Vitrine</h3>
                            <div class="price"><sup>Sur mesure</sup></div>
                            <ul class="table-list">
                                <li>CMS / Sur mesure</li>
                                <li><span>Pages</span> Illimités</li>
                                <li>Intégration visuel<span></span></li>
                                <li>Nombreuse<span> Maquette web</span></li>
                                <li>Site Responsive <span>(Affichage mobile)</span></li>
                                <li>Création de logo<span> par un graphiste</span><span class="unlimited">Option</span></li>
                                <li>Forfait maintenace (1h/mois)<span class="unlimited">Option</span></li>
                                <li>Hébergement web <span class="unlimited">Option</span></li>
                            </ul>
                            <div class="table-buy">
                                <p>Sur mesure</p>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row margin-bottom-40">
                    <div class="pricing-wrapper clearfix">

                        <div class="pricing-table col-lg-4 col-md-6 col-xs-12  e-commerce" data-aos="fade-up-right">
                            <h3 class="pricing-title">E-Commerce</h3>
                            <div class="price"><sup>Basic</sup></div>
                            <ul class="table-list">
                                <li>CMS : <span>Drupal / Prestashop</span></li>
                                <li>1 - 40 <span>Produits</span></li>
                                <li>Site Responsive <span>(Affichage mobile)</span></li>
                                <li>3 <span>Maquette web</span></li>
                                <li><span>Page d'acceuil / presentation</span></li>
                                <li><span>Module de paiement </span>integré</li>
                                <li>Forfait maintenace (1h/mois)<span class="unlimited">Option</span></li>
                                <li>Hébergement web <span class="unlimited">Option</span></li>
                            </ul>
                            <div class="table-buy">
                                <p>2799€<sup>Sans option</sup></p>
                            </div>
                        </div>

                        <div class="pricing-table col-lg-4 col-md-6 col-xs-12  e-commerce" data-aos="fade-up" data-aos-delay="300">
                            <h3 class="pricing-title">E-Commerce</h3>
                            <div class="price"><sup>Avancé</sup></div>
                            <ul class="table-list">
                                <li>CMS : <span>Drupal / Prestashop</span></li>
                                <li>40 - 200 <span>Produits</span></li>
                                <li>Site Responsive <span>(Affichage mobile)</span></li>
                                <li>6 <span>Maquette web</span></li>
                                <li><span>Page d'acceuil / presentation + page personnalisé</span></li>
                                <li><span>Module de paiement </span>integré</li>
                                <li><span>Produit</span> personalisé</li>
                                <li>Création de logo<span> par un graphiste</span><span class="unlimited">Option</span></li>
                                <li>Forfait maintenace (1h/mois)<span class="unlimited">Option</span></li>
                                <li>Hébergement web <span class="unlimited">Option</span></li>
                            </ul>
                            <div class="table-buy">
                                <p> 3499€<sup>Sans option</sup></p>
                            </div>
                        </div>

                        <div class="pricing-table col-lg-4 col-md-6 col-xs-12  appli" data-aos="fade-up-left">
                            <h3 class="pricing-title">Application Web</h3>
                            <div class="price"><sup>Sur Mesure</sup></div>
                            <ul class="table-list">
                                <li>VueJs <span>Node Js</span></li>
                                <li>Slim v.3 / Symfony<span>PHP</span></li>
                                <li>Base de données <span>SQL / Mongo DB</span></li>
                                <li>Maquette web</li>
                                <li><span>Page personnalisé</span></li>
                                <li>Diagramme UML : <span>Utilisation / Séquence / Acivité</span></li>
                                <li>Diagramme de gant<span>(Gros projet)</span></li>
                                <li>Création de logo<span> par un graphiste</span><span class="unlimited">Option</span></li>
                                <li>Création de visuel <span> par un graphiste</span><span class="unlimited">Option</span></li>
                                <li>Forfait maintenace (1h/mois)<span class="unlimited">Option</span></li>
                                <li>Hébergement web <span class="unlimited">Option</span></li>
                            </ul>
                            <div class="table-buy">
                                <p> Sur mesure</p>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row col-md-12">
                    <h1>Devis / Méthodologie</h1>
                    <hr class="largehr">
                </div>
                <div class="row metho">
                    <div class="text col-lg-7 lead">
                        Durant le developement d'un project, il est possible de réaliser des maquettes/wireframe pre-prodution du site pour avoir un appercu fonctionnel. Le developement par le suite se fait de maniere iterative en priviligiant les fonctionnalités principales et essentiels.
                        <br>
                        <br>
                        Les devis sont gratuits                     </div>

                    <div class="maquette col-lg-5">
                        <img class="img-fluid" src="resources/image/maquette.png">
                    </div>
                </div>
                <br>
                <br>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-xs-12 ullist" data-aos="zoom-out" data-aos-delay="10">
                        <div class="col-md-12">

                            <div class="list row">
                                <h2>Création</h2>
                            </div>
                            <div class="row ">
                                <ul class="listanim">
                                    <li>
                                        Site Vitrine                                    </li>
                                    <li>
                                        Site E-Commerce                                    </li>
                                    <li>
                                        Site intranet                                    </li>
                                    <li>
                                        Application web                                    </li>
                                    <li>
                                        API Web                                    </li>
                                    <li>
                                        Création base de donnée                                    </li>
                                    <li>
                                        Site sur mesure                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12 ullist" data-aos="zoom-out" data-aos-delay="50">
                        <div class="col-md-12">
                            <div class="list row">
                                <h2>Modification</h2>
                            </div>
                            <div class="row">
                                <ul class="listanim">
                                    <li>
                                        Ajout de fonctionnalité                                    </li>
                                    <li>
                                        Modification back-end / Front-end                                    </li>
                                    <li>
                                        Modification Base de donnée
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12 ullist" data-aos="zoom-out" data-aos-delay="100">
                        <div class="col-md-12">

                            <div class="list row">
                                <h2>Conception</h2>
                            </div>
                            <div class="row">
                                <ul class="listanim">
                                    <li>
                                        Gestion de projet                                    </li>
                                    <li>
                                        Maquette web                                    </li>
                                    <li>
                                        Wireframe
                                    </li>
                                    <li>
                                        Diagramme UML                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
