<!DOCTYPE html>
<html lang="fr">

    {%include('head.twig')%}

    <body>
        {%include('nav.twig')%}
        <div class="container">
            <h2>Test du responsive nav</h2>
        </div>
    </body>
</html>
